wdialog[template="download_ImportMedias"] .dialog-header{
	background: url(/changeicons/small/media.png) transparent center  left no-repeat !important;
}
wdialog[template="download_TopicSelection"] .dialog-header{
	background: url(/changeicons/small/topic.png) transparent center  left no-repeat !important;
}
wdialog[template="download_CategorySelection"] .dialog-header{
	background: url(/changeicons/small/category.png) transparent center  left no-repeat !important;
}