<h1 change:h="">${blockTitle}</h1>

<div class="normal" tal:condition="contextdocument/getDescription">${contextdocument/getDescriptionAsHtml}</div>

<p tal:condition="topic" class="normal">${trans:m.download.fo.documentcards-filtered-by-topic-1,ucf}<a change:link="document topic">${topic/getLabelAsHtml}</a>${trans:m.download.fo.documentcards-filtered-by-topic-2,ucf} <a change:link="document contextdocument">${trans:m.download.fo.documentcards-filtered-by-topic-3}</a>${trans:m.download.fo.documentcards-filtered-by-topic-4}</p>

<tal:block change:include="type 'html'; transmitAll 'true'" module="download" template="Download-Inc-Documentcard-List" />

<ul class="mini-navigation" tal:condition="linkToDetailPage">
	<li>
		<a change:link="document contextdocument">${trans:m.download.fo.view-complete-list,ucf}</a>
	</li>
</ul>